{%  extends 'base.html' %}
{% block style %}
    .errorlist {
        color: red; 
        font-weight: bold; 
        list-style: none; 
        padding: 0; 
        margin: 3%;
        text-align: center;
    }
    
    .voucher-form {
        margin-top: 10px;
        text-align: center
    }
    
{% endblock %}

{% block content %}
    <div class="col-md-4 offset-4" style="margin:auto;text-align: right">
        <h1 style="text-align: center">Add Ticket</h1>
        
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
        
        <form style="width: 50%; margin: auto; text-align: center" id="ticket_form"
            method="post" name="ticket_form" action="{% url 'add_ticket' %}">
            
            {% csrf_token %}
            
            <label style="margin-top:5%" for="quantity">Quantity:</label>
            <input type="number" name="quantity" id="quantity" value=1>
            
            <label style="margin-top:5%" for="holder">Holder:</label>
            <input type="text" name="holder" id="holder">
            
            <label style="margin-top:5%" for="package">Package</label>
            
            <select id="package" name="package">
                    {% for package in packages %}
                        <option value="{{ package.id }}">{{ package }}</option>
                    {% endfor %}
            </select>
        
                <button type="button" id="submit-button" class="btn btn-outline-dark" 
                                style="margin: 2%;margin-top: 20px">Create Ticket</button>
            </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#submit-button').click(function() {
                $('form').submit(); // Submit all forms in the document
            });
        });
    </script>




{% endblock %}
