{%  extends 'base.html' %}
{% load static %}

{% block content %}
    <form id="event_form" enctype="multipart/form-data" 
            method="post" name="event_form" action="{% url 'update_event' event.id %}">
        
        {% csrf_token %}

        <div class="event_view_template col-10 offset-1">
            <div class="row">
                <div class="col-2 offset-1">
                    <a href="{% url "manage_tickets" event.id %}"
                    class="" style="color: green; text-decoration: none">
                        <img src="{% static 'images/tickets.png' %}" style="width:40%; margin: auto"></a>
                </div>
                <h3 class="col-6">Edit event: {{ event.name }}</h3>
            </div>
            <input name="name" id="name" value="{{ event.name }}" hidden>
            <input id="date" class="col-2 offset-5" type="datetime-local" name="date" 
                   style="margin-bottom: 3%; margin-top: 1%; border: none;"
                   value="{{ event.date|date:'Y-m-d\TH:i' }}">
            {% if cover_orientation == "portrait" %}
                <div class="row">
                    <div class="cover_image col-4" style="text-align: center">
                        <img src="{{ event.cover.url }}">
                        <input type="file" name="cover" id="cover" style="margin-top: 2%">
                    </div>
                    <div class="event_extra_images col-7 offset-1">
                        <div class="row">
                            {% for image in event.event_images.all %}
                                <div class="image_layout col-3">
                                    <img class="images" src="{{ image.image.url }}"
                                                 alt="{{ image.caption }}">
                                    <div class="remove_image" style="width:15%">
                                        <a href="{% url "remove_event_image" image.id %}">
                                            <img src="{% static 'images/remove.png' %}" style="width:100%"></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-2" style="text-align: center">
                            <a style="font-size: 56pt; color: #26760e; text-decoration: none" href="#"
                                id="call_add_image" onclick="show_add_image_dialog()">+</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="cover_image col-8 offset-2" style="text-align: center">
                    <img src="{{ event.cover.url }}">
                    <input type="file" name="cover" id="cover" style="margin-top:2%">
                </div>
                <div class="event_extra_images">
                    <div class="row" style="">
                        {% for image in event.event_images.all %}
                            <div class="image_layout col-1">
                                <img class="images" src="{{ image.image.url }}"
                                     alt="{{ image.caption }}">
                                     <div class="remove_image" style="width:20%">
                                         <a href="{% url "remove_event_image" image.id %}">
                                             <img src="{% static 'images/remove.png' %}" style="width:100%"></a>
                                     </div>
                            </div>
                        {% endfor %}

                        <div class="col-1" style="text-align: center">
                            <a style="font-size: 56pt; color: #26760e;
                            text-decoration: none" href="#"
                            id="call_add_image" onclick="show_add_image_dialog()">+</a>
                        </div>
                    </div>
    
                </div>
            {% endif %}
                <div class="event_layout_location">
                    <input name="location" id="location" 
                           type="text" value="{{ event.location }}"
                           style="border:none; color: grey" 
                    >
                </div>
                <div class="event_layout_description">
                    <input name="description" id="description" 
                           type="text" value="{{ event.description }}"
                           style="border:none; color: grey" 
 
                    >
                </div>
        </div>
    
        <div class="col-4 offset-4" style="text-align: center">
        <button type="submit" id="submit-button" class="btn btn-outline-dark" style="margin: auto">Save</button>
    </div>
    </form>
    
    <div class="dialog" id="modal_add_image" style="display: none">
        <div class="dialog-modal-content">
            <form id="event_image_form" name="event_image_form" 
                  action="{% url 'add_event_image' event.id %}" 
                  method="post" enctype="multipart/form-data" style="text-align: center">
                {% csrf_token %}
                <span onclick="close_modal()" id="close" class="dialog-modal-close-btn">&times;</span>
                <input type='file' name="image_file" title="Choose image" id="image_file">
                <br>
                <textarea id="image_desc" name="image_desc" title="image_desc" 
                          style="margin-top: 4%"
                          placeholder="caption..."></textarea>
                <br>
                <button type="submit" onclick="send_event_image_data()" 
                        class="btn btn-dark" style="margin-top:5%">Add</button>
            </form>
        </div>
    </div>
    
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01" alt="img01">
        <div id="caption"></div>
    </div>

    <script type="text/javascript">
        let modal = document.getElementById("myModal");
        let img = document.getElementById("item_cover");
        let  modalImg = document.getElementById("img01");
        let captionText = document.getElementById("caption");
        let all_images = document.getElementsByClassName("images")
        let nav_bar = document.querySelector(".nav_bar");



        for (let i = 0; i < all_images.length; i++) {
            all_images.item(i).onclick = function() {
                modal.style.display = "block";
                modalImg.src = this.src;
                if (this.alt !== "None" ) {
                    captionText.innerHTML = this.alt;
                } else {
                    captionText.innerHTML = "";
                }
                nav_bar.style.zIndex = 0;
            }
        }

        let span = document.getElementsByClassName("close")[0];

        span.onclick = function() {
            modal.style.display = "none";
            nav_bar.style.zIndex = 2;
        }

        function show_add_image_dialog() {
            let dialog = document.getElementById("modal_add_image")
            console.log(dialog)

            dialog.style.display = "block"
        }

        function close_modal() {
            let dialog = document.getElementById("modal_add_image")
            dialog.style.display = "none"

        }

    </script>
{% endblock %}