{%  extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{%  block content %}


<div class='row' style="margin-top:3%; text-align: center">

    <div class="col-md-4 offset-md-4">

        <div class="auth col-md-6 offset-md-3">
            <br>
            <h4 style="" class="text-center">Authorization</h4>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li style="width:max-content;display:block;font-size: 16pt;color:white;margin-top:6%;
                            background: #a21919;margin-left:auto; margin-right:auto;overflow: visible;padding: 0.7%;"
                            class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="" class="close" style="color:white;font-size: 16pt">✖</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form style="" action ='' class="col-8 offset-2" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input style="margin-top: 4%" type="submit" class="btn btn-outline-dark" value="Sign In">
            </form>

        </div>

    </div>


</div>


{%  endblock %}