{% extends 'base.html' %}
{% block content %}
    <div class="container">
        
{#        {% if user.is_superuser %}#}
{#            <div class="col-4 offset-4" style="text-align: center; margin-top:2%">#}
{#                <a class="btn btn-outline-dark" style=""#}
{#                   href="{% url 'send_all_tickets_info' %}">Send all tickets info</a>#}
{#            </div>#}
{#            <div class="col-4 offset-4" style="text-align: center; margin-top:2%">#}
{#                <a class="btn btn-outline-dark" style=""#}
{#                   href="{% url 'send_tickets_info_attached_to_partner' %}">Send tickets info by partner</a>#}
{#            </div>#}
{#        {% endif %}#}
           
    </div>
    {% if user.is_authenticated %}
        <div class="col-10 offset-1" style="margin:auto;text-align: center">
                <h4>Welcome Partner!</h4>
                <br>
            </div>
    {% else %}
        <br>
        <div class="row" >
            <div class="col-10 offset-1" style="margin:auto;text-align: center">
                <h4>Welcome Po! Choose the event</h4>
                <br>
            </div>
        </div> 
        
    {% endif %}
    
    <div class="container">
        <div class="row">
            {% for event in events %}
                <div class="col-3">    
                    <div class="event_tile">
                        {% if event.cover %}
                            <img class="tile_image" src="{{ event.cover.url }}">
                        {% endif %}
                        <p class="event_date">{{ event.date }}</p>
                        <h5>{{ event.name }}</h5>
                        <p class="tile_desc">{{ event.description }}</p>

                            <a class="btn btn-outline-dark" style="margin-bottom:5%"
                               href="{% url 'events' %}">More info</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}